
:root {
       --primary-colour: #0d462a;
       --tab-colour: #f6fbf8;
       --background-colour: #37855f;
       --accent-colour: #afe1c1;
}


* {
    box-sizing: border-box;
    color: var(--primary-colour);
}

html {
  height: 100dvh; 
  margin: 0; 
  padding: 0;
  overflow: hidden; 
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body { 
    font-family: "Silkscreen", sans-serif;
    margin: 0; 
    background-color: var(--background-colour);
    background-image: url('../assets/Background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    height: 98vh;
    border: 2px solid var(--primary-colour);
}

.content {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.skips {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin-top: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

}

#drag {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    width: 300px;
    height: 300px;
    cursor: grab;
    z-index: 12;
}

.tab{
  position: relative;
  box-sizing: border-box;
  border: 2px solid var(--primary-colour);
  border-radius: 10px;
  width: auto;
  height: auto;
  background-color: var(--tab-colour);
  overflow: hidden;
  justify-content: center;
z-index: 9;
}

.choice-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.tab > header {
    position: relative;
    width: 100%;
    border-bottom: 2px solid var(--primary-colour);
    padding: 5px;
    background-color: var(--accent-colour);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 12;
}

.spoken {
    margin: 5%;
}


button, input {
  font-family: "Silkscreen", sans-serif;
  align-content: center;
  justify-content: center;
  border: 2px solid var(--primary-colour);
  border-radius: 10px;
  margin: 1vh;
  background-color:var(--tab-colour);
}

button:hover {
background-color:var(--accent-colour);
}

button.skip {
  height: 7vh;
  width: 7vh;
  border: none;
  background-color: transparent;
}


button.skip:hover {
    background-color:none;
}

button > img {
    height: 100%;
}

.good-btn, .bad-btn, .option-btn, .start-btn, .button-options {
    margin: 10px;
    align-self: center;
    justify-self: center;
    
}

.bar {
    position: absolute;
    bottom: 0;
    border: 2px solid var(--primary-colour);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--accent-colour);
}
x
p#end-text {
    font-size: 5vw;
    padding: 0;
    margin: auto 0 0 0;
    position: relative;
    gap: 10px;
}

#end-text:last-child {
    margin-top: 0;
    margin-bottom: auto;
}

#eventSpace {
    align-content: center;
      display: flex;
    flex-direction: column;
}

.loud {
font-size: 150%;
}

.louder {
font-size: 200%;
}

.loudest {
font-size: 500%;
}